<div class="jumbotron">
    <h1>Political Scorecard</h1>
    <p class="lead">Political Scorecard shows gathers everything you need to know about the people who rule your lives.  We let you examine your representitive, what they believe and what they have done for you.  The Scottish Government, Hollyrood, is the the first beta for our tool.</p>
</div>

<div class="row governmentDescriptor">
    <div class="row">
        <h2>Hollyrood</h2>
        <div class="row">
            <div class="col-md-8">
                <blockquote>
                    The Parliament is a democratically elected body comprising 129 members known as Members of the Scottish Parliament (MSPs), elected for four-year terms under the additional member system: 73 MSPs represent individual geographical constituencies elected by the plurality ("first past the post") system, while a further 56 are returned from eight additional member regions, each electing seven MSPs.
                    The most recent general election to the Parliament was held on 5 May 2011.
                    <br/><br />
                    The Scottish Parliament (Scottish Gaelic: <em>Pàrlamaid na h-Alba</em>; Scots: <em>The Scots Pairlament</em>) is the devolved national, unicameral legislature of Scotland. Located in the Holyrood area of the capital city, Edinburgh, it is frequently referred to informally as "Holyrood".
                </blockquote>
            </div>
            <div class="col-md-1">
                <img src="~/images/hollyrood/1.jpg" alt="The Front of the Scottish Parliament building." />
                <img src="~/images/hollyrood/2.jpg" alt="The Scottish Parliament debating chamber." />
            </div>
        </div>
        <div class="row">
            <cite><a href="http://en.wikipedia.org/wiki/Scottish_Parliament">Wikipedia - Accessed 2015-05-03</a></cite>
            <cite>"<a href="http://commons.wikimedia.org/wiki/File:ScottishParliamentFront.JPG#/media/File:ScottishParliamentFront.JPG">ScottishParliamentFront</a>" by Matthew Ross - <span class="int-own-work" lang="en">Own work</span>. Licensed under Public Domain via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a>.</cite>
            <cite><a href="http://commons.wikimedia.org/wiki/File:Debating_chamber,_Scottish_Parliament_(31-05-2006).jpg#/media/File:Debating_chamber,_Scottish_Parliament_(31-05-2006).jpg">Debating chamber, Scottish Parliament (31-05-2006)</a>" by <a href="//commons.wikimedia.org/wiki/User:Pschemp" title="User:Pschemp">User:pschemp</a> - <span class="int-own-work" lang="en">Own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a> via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a>.</cite>
        </div>
    </div>
</div>

<div class="row governmentDescriptor">
    <div class="hollyroodChamber">
        <canvas id="benches" width="1000" height="500"></canvas>
        <div id="speaker"></div>
    </div>
</div>

<div class="row">
    <h2>Select a chair</h2>
</div>
